{% extends 'events/base.html' %}
{% block content %}
	{% if user.is_authenticated %}
		<h1>Add Event To Database</h1>
		<br>
		<br>
		{% if submitted %}
			Your Event Was Submitted Successfully!
		{% else %}
			<form action="" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="Submit" class="btn btn-secondary" name="">
			</form>
		{% endif %}
	{% else %}
		<h1>Please Login To Access This Page</h1>
		<br>
		<br>
		<a href="{% url 'login' %}" class="btn btn-secondary">Login Here</a>
	{% endif %}
{% endblock %}